.container{
    height: 100vh;
    background: rgb(33, 33, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}
.select{
    position: absolute;
    font-size: 20px;
    margin: 20px;
    font-family: monospace;
    right: 0;
}